<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>SignUp</title>
</head>

<body>
    <div class="contenedor-titulo">
        <img src="../assets/cutienda-logo.png" alt="leon-comiendo.png" width="200px" height="150px">
        <h1>CUTienda</h1>
        <h2>Crear cuenta</h2>
    </div>
    <div class="radio-buttons-titulo">
        <input type="radio" name="rol" id="administrador" value="administrador">
        <label for="administrador">ADMINISTRADOR</label>

        <input type="radio" name="rol" id="cliente" value="cliente">
        <label for="cliente">CLIENTE</label>
    </div>

    <div class="inputs" id="inputs">
        <input class="input-sesion" id="input-sesion" type="text" placeholder="Correo electrónico">
        <input class="input-sesion" id="input-sesion" type="password" placeholder="Contraseña">
    </div>

</body>

</html>