<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>mostrar todos los productos</title>
</head>
<body>
    <div id="cuadro-producto" class="cuadro-producto">

        <img src="../static/incognito.webp" alt="producto.jpg" class="imagen">

        <div id="detalles" class="detalles"> 

            <table class="tabla"> 

                <tbody>
                    <tr>
                        <td class="txt-info">Nombre: </td>
                        <td>
                            <span class="txt-resp">Vacio</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="txt-info">Precio: </td>
                        <td>
                            <span class="txt-resp">0$</span>
                        </td>
                    </tr>
                </tbody>
                
            </table>

            <div class="caja-comentario"> 
                <span id="comentarios-txt-info" class="txt-info">Comentarios</span> 
                <textarea name="coment" id="coment" class="coment" placeholder="no hay comentarios sobre este vendedor"></textarea>
            </div>

            <div class="nombre-vendedor">
                <span>vendedor</span>
            </div>

            <button type="button" class="boton" style="width: 100%; font-family: Verdana, Geneva, Tahoma, sans-serif;">CONTACTAR VENDEDOR</button>

        </div>
    </div>   
</body>
</html>