* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #001F5F;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.bar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    /* border: #4471C4 2px solid; */
    display: flex;
    justify-content: end;
    height: 140px;
    z-index: 1000;
}

.boton-azul {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F5F5F5;
    text-align: center;
    border: none;
    background-color: #4471C4;
}

.boton-azul:hover {
    background-color: #3242F9;
}
.boton-azul:active {
    background-color: #D20062;
}

.botones-bar {
    display: flex;
    align-items: start;
    flex-flow: wrap;
    justify-content: space-around;
    width: 30%; 
    ;
    padding: 20px;
}

.cutienda-leon {

    width: 12vw;
    height: 20vh;
    /* max-height: 17vh; */
    border-radius: 100%;
    border: #4471C4 2vh solid;

}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.1rem;
    color: #F5F5F5;
    font-weight: bolder;
    text-align: center;
    margin-top: 13px; /* Cambiar absolute por márgenes o padding */
}

.icono-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.buscar-container {
    height: 8vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 10px 30px;
    margin-top: 10vh;
    margin: 200px auto;
    align-self: center;
    background-color: #F5F5F5;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 30px 25px rgb(0, 0, 0, 0.3);
    margin-bottom: 20px;
    position: absolute;
}

.buscar-input {
    font-size: 18px;
    width: 100%;
    position: relative;
}

.buscar-container input{
    outline: none;
    border: none;
    background: transparent;
    font-weight: 500;
}

.search {
    display: inline-block;
    background-color: transparent;
    border: none;
    text-decoration: none; /* Quita el subrayado */
    cursor: pointer;
}


.search:hover .buscar-icono {
    fill: #4471C4;
}

.search:active .buscar-icono {
    fill: #F5004F;
}

.buscar-icono {
    fill: #001F5F;
    width: 35px;
    height: 59px;
}


#productos {
    width: 100%;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}